@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Honk&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Rubik+Bubbles&display=swap");

body {
  background-color: black;
  font-family: system-ui, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
body.win {
  background-image: url(./images/background.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body.reset {
  background-color: black;
}

body h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: lightblue;
  font-size: 75px;
}

body p {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 25px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.correct,.wrong {
  font-size: 30px;
  letter-spacing: 5px;
}

.wrong {
  color: #e60000;
}
.hidden {
  display: none;
}

/* delete in production */
/* #test {
  color: red;
} */
/* delete in production */
